<div class="home">
  <div class="home-container">
    <h1>
      ¡Buenos dias!
    </h1>
    <div class="home-options">
      <div class="home-options__img-fol" routerLink="/crud/boots">
        <img class="home-options__img" src="/assets/icons/BootstrapIcon.png"  alt="Bootstrap">
      </div>
      <div class="home-options__img-fol" routerLink="/crud/myOwn">
        <img class="home-options__img home-options__img-pinches-gafas" src="/assets/icons/myOwnIcon.svg"  alt="MyOwn">
      </div>
    </div>
  </div>
</div>

